

.first-color { 
	background: #f9e090; 
}
	
.second-color { 
	background: #ff935c; 
}

.third-color { 
	background: #dc5353; 
}

.fourth-color { 
	background: #a72461; 
}


@import "../node_modules/bootstrap/scss/bootstrap.scss";