$btn-font-family: 'Ink free';
#header{
    background-image: url(./images/style2/myimage.png);
    background-repeat: repeat-x;
    background-position: 10px 10px;
}

@import "node_modules/bootstrap/scss/bootstrap.scss";